<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>MarketManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Sign</servlet-name>
    <servlet-class>com.example.web.SignServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sign</servlet-name>
    <url-pattern>/Sign.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.example.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Query</servlet-name>
    <servlet-class>com.example.web.QueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Query</servlet-name>
    <url-pattern>/Query.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Insert</servlet-name>
    <servlet-class>com.example.web.InsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Insert</servlet-name>
    <url-pattern>/Insert.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Delete</servlet-name>
    <servlet-class>com.example.web.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/Delete.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Update</servlet-name>
    <servlet-class>com.example.web.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/Update.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>query</servlet-name>
    <jsp-file>/query.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>query</servlet-name>
    <url-pattern>/query.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>insert</servlet-name>
    <jsp-file>/insert.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>insert</servlet-name>
    <url-pattern>/insert.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>delete</servlet-name>
    <jsp-file>/delete.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete</servlet-name>
    <url-pattern>/delete.jsp</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>update</servlet-name>
    <jsp-file>/update.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>update</servlet-name>
    <url-pattern>/update.jsp</url-pattern>
  </servlet-mapping>
     <servlet>
    <servlet-name>show</servlet-name>
    <jsp-file>/show.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>show</servlet-name>
    <url-pattern>/show.jsp</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>URL</param-name>
    <param-value>jdbc:sqlserver://localhost:1433;databaseName=market;integratedSecurity=true;</param-value>
  </context-param>
  <context-param>
    <param-name>DRIVER</param-name>
    <param-value>com.microsoft.sqlserver.jdbc.SQLServerDriver</param-value>
  </context-param>
  <listener>
    <listener-class>
	com.example.web.DBConnectionListener
	</listener-class>
  </listener>
</web-app>